body {
    font-family: Arial, Helvetica, sans-serif;
}

#navA {
    font-size: large;
    color: #9C0000;
}

#navA:hover {
    color: #FFCA00
}

#nav {
    border-bottom: #FFCA00 5px solid;
}

.container {
    margin-top: 10px;
}